input, button, p {
    font-family: "myWebFont";
  }
  
  @font-face {
    font-family: "myWebFont";
    src: url('./fonts/Imweird-dKwl.ttf');
  }

input[type=text], input[type=button] {
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0% !important;
    background-clip: padding-box !important;
    background: transparent !important;
    outline: none !important;  
}