input, button, p {
    font-family: "myWebFont";
  }
  
  @font-face {
    font-family: "myWebFont";
    src: url('./fonts/Imweird-dKwl.ttf');
  }

input[type=text], input[type=button] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0%;
}